{% extends "include/base.html" %}
{% load staticfiles %}
{% block content %}
<main class="container">
<div class="row">
<div class="col-md-9 col-sm-9 main-content" role="main">
    {% for post in post %}
          <article class="post">
            <header>
              <h2><a href="{% url "blog_detail" blog_id=post.id %}">{{post.title}}</a></h2>
              <ul class="post-meta">
                <li><i>分类: </i> <span><a href="#">{{post.categeory}}</a></span></li>
                <li><i>作者: </i> <span>{{post.user}}</span></li>
                <li><i>发布日期: </i> <span>{{post.date_time}}</span></li>
              </ul>
            </header>

            <div class="blog-content">
            <p>{{ post.content |truncatechars:"150" }}</p>
            </div>
          </article>
    {% endfor %}
          <ul class="pager">
            <li class="previous"><a href="#">Older posts</a></li>
            <li class="next"><a href="#">Newer posts</a></li>
          </ul>
          
        </div>
{% include 'blog_sidebar.html' %}
      </div>
    </main>
{% endblock %}

      
