{% extends "include/base.html" %}
{% load staticfiles %}
{% block content %}
<main class="container">
<div class="row">
        <article class="col-md-9 col-sm-9 main-content" role="main">         
          <header>
            <h3>{{ video.title }}</h3>
          </header>
                    <p>发布人：{{ video.user }}</p>{% if request.user.is_superuser %}<p>操作： <a href="{% url 'video_edit' video.id %}">编辑内容</a></span></p>{% endif %}<br/>
           {{ video.content }}
        </article>
      </div>
    </main>
{% endblock %}

